.button {
  display: block;
  width: 120px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 5px;
  background-color: #36cfff;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  outline: none;
}

.button:first-child {
  margin-top: 0;
}

.button:hover {
  background-color: #14abe3;
}

.button:active {
  background-color: #5be5fe;
}
