.button {
  display: block;
  width: 120px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 5px;
  background-color: #b3e5fc;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
}

.button:first-child {
  margin-top: 0;
}

.button:hover {
  background-color: #8ccae7;
}

.button:active {
  background-color: #6bb2d4;
}
